@font-face {
    font-family: "Orbitron";
    src: local("Orbitron"), url("Orbitron-VariableFont_wght.ttf") format("truetype");
}

body {
    background: black;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

#playerImage, #enemyImage {
    display: none;
}