@font-face {
    font-family: "Orbitron";
    src: local("Orbitron"), url("Orbitron-VariableFont_wght.ttf") format("truetype");
}

body {
    background: black;
}

#gamePlayCanvas {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

#gameBarCanvas {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    border: 5px solid red;
}

#playerImage, #enemyImage, #playerBeamImage, #shieldImage, #forceImage, #wallStart, #wallMiddle, #wallEnd, #enemyFire, #itemRobot {
    display: none;
}